{% extends 'pages/base_control.html' %}
{% load static %}
{% block title %}control{% endblock %}
{% block content%}
<main role="main">
  <div class="container mt-1">
    <div class="row">
      <div class="container">
        <div class="row justify-content-end">
          <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Acceso</a>
              </li>
            {% else %}
              <div class="alert alert-danger" role="alert">
                <a href="{% url 'logout' %}" class="alert-link">Salir de Procesos</a>
              </div>
            {% endif %}
          </ul>
        </div>
      </div>
      <nav class="navbar navbar-light bg-light col-md-12">
          <a class="navbar-brand" href="#">
            <img src="/static/core/yhuju.jpg" width="70" height="40" class="d-inline-block align-top" alt="">
            <b style="color: #FE8D27;">YHUJU PROCESOS</b>
          </a>
          <div class="row-fluid">
            <!-- agregar articulo -->
            <a type="nav-link" class="btn btn-primary"  href="{% url 'pages:create' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                  <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                  <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
              </svg>
              <small style="color:white">ADD</small>
            </a>
            <a type="nav-link" class="btn btn-primary mr-1" href="{% url 'pages:reporte_excel' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                  <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
              </svg>
              <small style="color:white">EXCEL</small>
            </a>
            <a type="button" class="btn btn-primary mr-1" href="{% url 'pages:reporte_pdf' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                  <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
              </svg>
              <small style="color:white">PDF</small>
            </a>
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                </svg>
                <small style="color:white">PROVEE</small>
            </button>
            <button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
                    <path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
                <small style="color:white">SELL</small>
            </button>
          </div>
      </nav>
      <!-- buscador -->
      <div class="container mt-1">
          <div class="row">
          <div class="col-md-12 search">
              <form method="POST" action="buscar/">
                {% csrf_token %}
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                    <input class="form-control text" name="buscalo" type="text" placeholder="Buscar..." aria-label="Search" name="buscar">
                    <button class="btn btn-outline-success ml-2 boton" type="submit">Search</button>
                    </div>
                </div>
              </form>
          </div>
          </div>
      </div>
      <!-- fin buscador -->
    </div>
    <!-- tabla -->
    <div class="container mb-4">
      <table class="table table-bordered mt-2">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Prod</th>
            <th scope="col">Detalle</th>
            <th scope="col">Cant|Und</th>
            <th scope="col">Cant|Kg</th>
            <th scope="col">P.V</th>
            <th scope="col">Proceso</th>
          </tr>
        </thead>
        <tbody>
          {% for page in page_list|dictsort:"id" reversed %}
          <tr>
            <th scope="row">{{"00-"}}{{page.id}}</th>
            <td>{{page.title}}</td>
            <td>{{page.content|striptags|safe|truncatechars:"200"}}</td>
            <td>{{page.order}}</td>
            <td>{{page.decimal|floatformat:2}}</td>
            <td>{{page.pventa|floatformat:2}}</td>
            <td>
                <p>
                  <a href="{% url 'pages:page' page.id page.title|slugify %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    <small>Editar</small>
                  </a>
                </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
</main>

{% endblock %}


