{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container home">
  <div style="padding-top:50px; text-align:center;position: relative; z-index: 1040 !important;">
  <!-- search -->
  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">ABARROTES</a>
        <a class="dropdown-item" href="#">ARROZ</a>
        <a class="dropdown-item" href="#">LECHE</a>
        <a class="dropdown-item" href="#">FIDEOS</a>
        <a class="dropdown-item" href="#">PAPELES LIMPIEZA</a>
        <a class="dropdown-item" href="#">HIGIENE PERSONAL</a>
        <a class="dropdown-item" href="#">LIMPIEZA HOGAR</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">B</button>
    </div>
  </div>
  <!-- search -->
    <h1>Bienvenido a Yhuju</h1>
    <p class="lead">Algunos productos mas vendidos</p>
  </div>
</div>
<!-- cuerpo -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 mt-1">
      <div class="card bg-dark text-white">
        <img src="../static/core/img/placeholder.png" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h4 class="card-title"><small class="text-muted">Card title</small></h4>
          <p class="card-text"><small class="text-muted">is a wider card, muted.</small></p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- los mas vendidos -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-1">
      <div class="card bg-dark text-white">
        <img src="../static/core/img/placeholder.png" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin los mas vendidos -->

<!-- abarrotes -->
<div class="container mt-1">
  <div class="alert alert-light mb-0" role="alert">
    <a href="#" class="alert-link">ABARROTES </a>
    <span>|</span>
    <span><a href="#">VER TODO</a></span>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin abarrotes -->

<!-- menestras -->
<div class="container mt-1">
  <div class="alert alert-light mb-0" role="alert">
    <a href="#" class="alert-link">MENESTRAS </a>
    <span>|</span>
    <span><a href="#">VER TODO</a></span>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 mt-1">
      <div class="card">
        <img src="../static/core/img/placeholder.png" class="card-img-top img-fluid" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
          <p class="card-text"><small class="text-muted">Last updated</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin menestras -->

<!-- BLOGS -->
<div class="container">
  <div class="row mt-1 mb-1">
    <div class="col-12 col-sm-12 col-md-4 mt-1">
      <div class="card bg-dark text-white">
        <img src="../static/core/img/placeholder.png" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-1">
      <div class="card bg-dark text-white">
        <img src="../static/core/img/placeholder.png" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 mt-1">
      <div class="card bg-dark text-white">
        <img src="../static/core/img/placeholder.png" class="card-img img-fluid" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin BLOGS -->

<!-- formulario -->
<div class="card text-center mt-2">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <form class="d-flex justify-content-center">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control sm-6" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </form>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!-- fin formulario -->

<!-- fin cuerpo -->
{% endblock %}